.DateInput input {
    cursor: pointer;
    padding: 0;
    background-color: #181d1f;
    color: white;
    border: 1px solid #3E3E3E,
}

.SingleDatePickerInput__withBorder {
    border: none
}

#table #list_table {
    height: 100%
}

.ag-header-cell-label {
    justify-content: center;
}