body {
    background-color: #141414;
}
/* CALENDARS */
.DateInput input {
    cursor: pointer;
    padding: 0;
    background-color: #181d1f;
    color: white;
    border: 1px solid #3E3E3E,
}

.SingleDatePickerInput__withBorder {
    border: none
}

/* TABLES */
#table #list_table {
    height: 100%
}

.ag-header-cell-label {
    justify-content: center;
}

/* BUTTONS */
.btn-custom {
        transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
        background-color: #3E3E3E;
    }

.btn-custom:hover {
    transform: scale(1.1);
    boxShadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #2a2a2a;
}

.btn-custom:active {
    transform: scale(0.95);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* DROPBOX */
.Select-menu-outer{
    color: white;
    background-color: #3E3E3E;
}

#react-select-2--value-item{
    color: white;
}